<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LampenSteuern">
    <meta name="author" content="Lukas Böhm">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>LightHub</title>

    <!-- Link CCS here (static) -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <!-- Link JS here (static) -->

    {% block scripts %}
    {% endblock %}
    
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">LightHub</a>
            </div>
            <ul class="nav navbar-nav">
                {% block navbar %}
                {% endblock %}
            </ul>
<!--        
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
--->
        </div>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <!-- hier noch zwischen info und warnung unterscheiden-->
            <div class="alert alert-info fade in center">
                {{ message }}
            </div>
        {% endfor %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

    <footer class="contrainer-fluid bg-2 text-center">
        <p>Website made by me</p>
    </footer>

</body>
</html>