<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="LampenSteuern">
<meta name="author" content="niewiedersp">
<link rel="icon" href="/link/to/favicon.ico">

<title>DAs steht in deinem Browser oben</title>

<link href="bootstrap.min.css" rel="stylesheet">
</head>

<style>
#ichhassesp {
    color: red;
}

.idoreallymuchwanka {
    opacity: 0.4;
}
</style>

<body>

<div id="ichhassesp">
    fewfefwefew
</div>


<div class="idoreallymuchwanka">
    fefwefwefwebfhj
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            das ist erster text
        </div>
        <div class="col-lg-4 col-sm-6">
            das ist zweiter text
        </div>
        <div class="col-lg-4 col-sm-6">
            das ist dritter tet
        </div>
        <div class="col-lg-4 col-sm-6">
            das ist dritter tet
        </div>
    </div>

    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef
    fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef fewfwef fefwfwefwef

    <div class="table-responsive">
        <table class="table">
            <thead>
                <td>fewnfeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeejkwef</td>
                <td>fefwef</td>
                <td>fewnfeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeejkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
            </thead>
            <tr>
                <td>fewnfeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeejkwef</td>
                <td>fewnfeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeejkwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
                <td>fewnfjkwef</td>
                <td>fefwef</td>
            </tr>
    
        </table>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-primary">
                <div class="card-header">
                    Das ist die Überschrift
                </div>
                <div class="card-body">
                    Das ist, was halt mitten drin so steht
                </div>
                <div class="card-footer">
                    das ist halt unten
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-primary">
                <div class="card-header">
                    Das ist die Überschrift
                </div>
                <div class="card-body">
                    Das ist, was halt mitten drin so steht
                </div>
                <div class="card-footer">
                    das ist halt unten
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-primary">
                <div class="card-header">
                    Das ist die Überschrift
                </div>
                <div class="card-body">
                    Das ist, was halt mitten drin so steht
                </div>
                <div class="card-footer">
                    das ist halt unten
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-success" onclick="alert('Hallo.');">Das ist ein button</button>
    <a role="button" class="btn btn-danger" href="https://exam.gabriel2029.de">ChiefExam Panik!!!1111</a>

</div>




Das ist der tatsächliche HTML-Content
</body>


</html>